body{
  text-align: center;
}
#logoTitle{
  height: 80px;
  width: 240px;
}
#Container{
  margin-right: 23%
}
#homenav{
  margin-left: 2%
}
.color-nav{
  background-color: #72a6be;
}
.me-auto{
  font-family: "Maven Pro",sans-serif;
  font-weight: 700;
}
#cartBtn{
  margin-left: 230%;
}
#cart{
  height: 40px;
  width: 40px;
}
#cartBtn{
  margin-top: 1%;
}
#userBtn{
  margin-left: 7%;
  margin-top: 1%;
}
#user{
  height: 40px;
  width: 40px;
}
#HomeNavFont{
  font-size: 25px;
}
#BuyNavFont{
  font-size: 25px;
  margin-left: 3%;
}
#AboutNavFont{
  font-size: 25px;
  margin-left: 3%;
}